.bar{
    display: inline-block;
    width: 50px;
    height: 3px;
    background-color: black;
}

.box{
    height: 200px;
    border-radius: 10px;
}

section{
    min-height: 500px;
}

header{
    height: 50px;
    background-color: rgb(54, 53, 53);
}

.bi-card-text{
    font-size: 2em;
    cursor: pointer;
}

.spotlight{
    background-color: rgb(0, 128, 75);
}

.about{
    background-color: rgb(34, 216, 216);
}

footer{
    background-color: rgb(75, 73, 73);
}

.bi-facebook::before , .bi-google::before , .bi-linkedin::before , .bi-twitter::before{
    font-size: 1.5em;
    margin: 5px;
    padding:10px;
    border: 1px white solid;
    border-radius: 50%;
}