.bar{
    display: inline-block;
    width: 120px;
    height: 3px;
    border-radius: 5px;
    background-color: black;
    margin: 0 15px 0 15px;
}

.spotlight .bar{
    background-color: white;
}

section{
    min-height: 500px;
    padding-top: 30px;
    padding-bottom: 50px;
}


.bi-card-text{
    font-size: 2em;
    cursor: pointer;
}

.bi-star-fill{
    font-size: 1.5em;
}

.spotlight{
    background-color: rgb(5, 148, 136);
}

.about{
    background-color: rgb(34, 216, 201);
}

footer{
    background-color: rgb(94, 90, 90);
}

.bi-facebook::before , .bi-google::before , .bi-linkedin::before , .bi-twitter::before{
    font-size: 1.3em;
    margin: 5px;
    padding:10px;
    border: 1px white solid;
    border-radius: 50%;
}

.footer-top{
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-bottom{
    min-height: 80px;
    background-color: rgb(49, 45, 45);
}

#logo{
    height: 200px;
    width: 200px;
    margin-top: 30px;
}

.form-control{
    border: 0;
    border-bottom: 1px solid #ced4da;
}

.title{
    margin-top: 40px;
    margin-bottom: 30px;
}

.about button{
    color: white;
    border-color: white;
}

.footer-top span{
    color:rgb(34, 216, 201);
}